
body{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* index page style */


#brown_row {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #E5C496;
}

#cartRef {
    text-align: left;
}
#CWPL{
    font-size: 36px;
    color: #DD6363;
    margin-right: 60%;
}

.first {
    float: left;
    width: 50%;
}

.footer-nav ul{
    display: grid;
    padding: 0;
    list-style: none;
    background: #EEE2D5;
    line-height: 60px;
    grid-template-columns: repeat(4, 1fr);
    font-size: 14px;
    margin: 0;
}


.footer-nav p{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}

#GTIEB{
    font-size: 36px;
    color: #FFEAA0;
    margin-right: 60%;
}

h3 {
    font-size: 36px;
    padding-left: 60px;
    padding-right: 60px;
}

.img {
    width: 100%;
}

.icon-img {
    width: 100%;
}

.left {
    float: left;
    width: 45%;
}

#left_offset {
    width: 100%;
    margin-left:-50px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.landing_text {
    font-size: 24px;
    color: white;
    margin-right: 50px;
}


#orderNow {
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 36px;
    background-color: #B09487;
    color: white;
    font-style: bold;
    border-radius: 20px;
    border: none;
    curosr:pointer;
}

#pink_row {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #CD9E89;
}

#reserved {
    /* display: grid; */
    /* padding: 0; */
    background: #EEE2D5;
    line-height: 88px;
    /* grid-template-columns: repeat(4, 1fr); */
    font-size: 14px;
    margin: 0;
    text-align: right;
    padding-right: 50px;
}

#right_offset {
    width: 100%;
    margin-top: -50px;
    margin-bottom: 50px;
    position: relative;
    left: 50px;
}

.row {
    display: flex;
}

.right {
    float: right;
    width: 55%;
}


.second {
    float: right;
    width: 50%;
}

.seven {
    float: left;
    width: 60%;
}


.top-nav ul{
    display: grid;
    padding: 0;
    list-style: none;
    line-height: 70px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding-top: 10px;
}

.top-nav a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}


#top-right-grid {
    display: grid;
    grid-template-columns: 42% 8% 20% 7% 20%;
    margin-top: 10px;
}

#top-right-text {
    color: black;
    padding-top: 7px;
}

.three {
    float: right;
    width: 40%;
    background-color: #EEE2D5;
}


/* products page style */

.icon_img {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#line {
    height: 5px;
    background-color: #EEE2D5;
}


#menu {
    background-color: #EEE2D5;
    text-align: center;
    font-weight: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu_img {
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
}

.menu_text {

    text-align: center;
    margin-bottom: 10%;
    text-decoration: none;
    color: black;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
}



/* details page style */

#addToCart {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 24px;
    background-color: #B09487;
    color: white;
    font-style: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}


#detail_img {
    width: 90%;
    margin-left: 5%;
}

.detail_title {
    text-align: center;
}

.icons {
    display: grid;
    grid-template-columns: 15% 70%;
    margin-bottom: 10px;
}

.img_radio {
    width: 100%;
    position: relative;
    top: -35px;
    left: 30px;

}


label {
    display: flex;
}



#number {
    padding-left: 10px;
    margin-top: 12px;
}

.options {
    margin-left: 20px;
}

.options_radio {
    position: relative;
    top: -38px;
    left: 40px;

}
#price {
    font-size: 32px;
}

#select {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 2px solid #B09487;
}
#review {
    display: grid;
    grid-template-columns: 20% 20%;
}

.review_right {
    float: right;
    width: 55%;
    margin-left: 5%;
    margin-right: 5%;
}

/* cart page style */
#cart {
    background-color: #EEE2D5;
    text-align: center;
    font-weight: 700px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.checkout-row {
    display: grid;
    grid-template-columns: 60% 40%;
}

.num {
    margin-top: 25px;
    position: relative;
    top: -70px;
    left: 50px;
}


#checkout {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    background-color: #B09487;
    color: white;
    font-style: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 40px;
}

#summary {
    border: 4px solid #EEE2D5;
    border-radius: 20px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 150px;
}